extends ../layout

block content
  .page-header
    h1
      | Users
      span.pull-right
        a.btn.btn-primary(href='/users/new') New
  table.table.table-striped
    thead
      tr
        th Name
        th Email
        th Birth
        th Age
        th 
        th
        th
    tbody
      each user in users
        tr
          td= user.name
          td= user.email
          td= user.birth
          td= user.age
          td.actions
            a.btn.btn-mini.btn-primary(href='/users/'+user._id) Show
          td.actions
            a.btn.btn-mini(href='/users/'+user._id+'/edit') Edit
          td.actions
            a.btn.btn-mini.btn-danger.apiDestroy(href='/users/'+user._id) Destroy
