extends ../layout

block content
  .page-header
    h1
      | User
      span.pull-right
        a.btn.btn-inverse(href='/users') Back
        | &nbsp;
        a.btn(href='/users/'+user._id+'/edit') Edit
        | &nbsp;
        a.btn.btn-danger.apiDestroy(href='/users/'+user._id) Destroy
  table.table.table-bordered.table-striped
    tbody
      tr
        td
          strong Name
        td= user.name
      tr
        td
          strong Email
        td= user.email
      tr
        td
          strong Birth
        td= user.birth
      tr
        td
          strong Age
        td= user.age
      tr
        td
          strong followings
        td 
          - for (var i = (typeof user.followings !== 'undefined') ? user.followings.length - 1 : -1; i >= 0; i--)
            = user.followings[i]
      tr
        td
          strong followers
        td 
          - for (var i = (typeof user.followers !== 'undefined') ? user.followers.length - 1 : -1; i >= 0; i--)
            = user.followers[i]